section{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 58%;
    margin-bottom: 6px;
    padding: 8px 16px;

    border: 1px solid;
    border-radius: 8px;
    border: none;

    color: #ffffff;
    background-color: rgb(98, 196, 196);
}